jaspero-accord {

  display: block;

  .jaspero__accord_bar {
    width: 100%;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    display: flex;
    user-select: none;
    background: white;
    position: relative;
    padding: 10px 15px;
  }

  .jaspero__accord_inner {
    display: block;
    background: white;

    &.closed {
      overflow: hidden;
    }

    &_content {
      padding: 10px 15px;
    }
  }

  &.active {
    &.jaspero__accord_bar {
      color: #ec4a1d;
      border-bottom-color: #ec4a1d;
    }
  }
}